@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Exo', sans-serif;
}

.card {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 400px;
    border: 3px solid #4ecdc4;
    border-radius: 20px;
    padding: 20px;
    margin: 320px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #F7FFF7;
}

.about {
    color: #292f36;
}

.myself {
    width: 150px;
    border: 3px solid #292f36;
}

h3{
    padding: 35px 0 20px 0;
}

.icon-links {
    text-decoration: none;
    list-style: none;
    padding-top: 5px;
}

.icon {
    width: 40px;
    height: 40px;
    padding-top: 5px;
    transition: transform 250ms;
}

.icon:hover {
    transform: translateY(-5px);
}





.bg {
    animation:slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #f7fff7 50%, #4ecdc4 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:17s;
  }
  
  .bg3 {
    animation-duration:18s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  
     .container-body {
         display: flex;
         justify-content: space-evenly;
     }
     .card-header{
         margin: 1%;
     }
     .card-body{
         margin: 10%;
     }
     ul {
         color: #001858;
         list-style-type: none;
     }
     h2 {
         color: #001858;
     }

@media (max-width: 400px) {
    .card {
        width: 335px;
    }

    .myself {
        width: 120px;
        margin-top: 10px;
    }

    .about {
        font-size: 15px;
    }
}